:root {
  --mainBkgd: #282c34;
  --brightWhite: #ffffff;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #f3d11d;
  --offWhite: #ffffffbf;
  --offBlack: #1e2024;
  --mainPink: #d70094;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Staatliches", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-pink {
  color: var(--mainPink);
}

.text-bright {
  color: var(--brightWhite);
}
