:root {
  --brightWhite: #ffffff;
  --mainWhite: #f3f3f3;
  --mainYellow: #f3d11d;
  --mainGrey: #646464;
  --mainPink: #d70094;
  --mainOrange: #ed7d31;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-grey {
  color: var(--mainGrey);
  font-weight: lighter;
}

.text-bright {
  color: var(--brightWhite);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainGrey);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainGrey) !important;
}

.btn-black:hover {
  background: var(--mainGrey) !important;
  color: var(--brightWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainGrey);
}

.btn-outline-danger {
  border-radius: 0 !important;
}

.lead {
  color: var(--mainGrey);
}

.bulb {
  height: 17rem !important;
}

.fix {
  margin-top: 17rem;
}

.on {
  animation: fadeIn forwards;
  visibility: hidden;
  animation-delay: 1.2s;
}
@keyframes fadeIn {
  to {
    visibility: visible;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
